@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root {
  position: absolute;
}

.webgl {
  background-color: rgb(37, 37, 37);
  position: fixed;
  width: 100%;
}

body {
  position: relative;
} */